# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Makefile.in
config.guess*
config.sub*
config.h.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
autom4te.cache
*~
doc/html
doc/latex
\#*#
ltmain.sh
m4/*.m4
*.orig